<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thack.ac.whatsoever"
    xmlns:tools="http://schemas.android.com/tools">

    <!--<uses-sdk-->
        <!--tools:node="replace" />-->

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/happening_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="android.app.default_searchable"
                   android:value=".MainActivity" />
        <activity
            android:name="thack.ac.whatsoever.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name="thack.ac.whatsoever.DetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="thack.ac.whatsoever.MainActivity">
        </activity>
    </application>

</manifest>
